
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - device.openyurt.io
  resources:
  - deviceprofiles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - device.openyurt.io
  resources:
  - deviceprofiles/finalizers
  verbs:
  - update
- apiGroups:
  - device.openyurt.io
  resources:
  - deviceprofiles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - device.openyurt.io
  resources:
  - devices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - device.openyurt.io
  resources:
  - devices/finalizers
  verbs:
  - update
- apiGroups:
  - device.openyurt.io
  resources:
  - devices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - device.openyurt.io
  resources:
  - deviceservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - device.openyurt.io
  resources:
  - deviceservices/finalizers
  verbs:
  - update
- apiGroups:
  - device.openyurt.io
  resources:
  - deviceservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - device.openyurt.io
  resources:
  - valuedescriptors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - device.openyurt.io
  resources:
  - valuedescriptors/finalizers
  verbs:
  - update
- apiGroups:
  - device.openyurt.io
  resources:
  - valuedescriptors/status
  verbs:
  - get
  - patch
  - update
