
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: deviceservices.device.openyurt.io
spec:
  group: device.openyurt.io
  names:
    kind: DeviceService
    listKind: DeviceServiceList
    plural: deviceservices
    singular: deviceservice
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DeviceService is the Schema for the deviceservices API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DeviceServiceSpec defines the desired state of DeviceService
            properties:
              addressable:
                description: address (MQTT topic, HTTP address, serial bus, etc.)
                  for reaching the service
                properties:
                  address:
                    description: Address of the addressable
                    type: string
                  id:
                    description: ID is a unique identifier for the Addressable, such
                      as a UUID
                    type: string
                  method:
                    description: Method for connecting (i.e. POST)
                    type: string
                  name:
                    description: Name is a unique name given to the Addressable
                    type: string
                  password:
                    description: Password of the user for authentication for the addressable
                    type: string
                  path:
                    description: Path for callbacks
                    type: string
                  port:
                    description: Port for the address
                    type: integer
                  protocol:
                    description: Protocol for the address (HTTP/TCP)
                    type: string
                  publisher:
                    description: For message bus protocols
                    type: string
                  topic:
                    description: Topic for message bus addressables
                    type: string
                  user:
                    description: User id for authentication
                    type: string
                type: object
              adminState:
                description: Device Service Admin State
                type: string
              description:
                description: Information describing the device
                type: string
              labels:
                description: tags or other labels applied to the device service for
                  search or other identification needs on the EdgeX Foundry
                items:
                  type: string
                type: array
              managed:
                description: True means deviceService is managed by cloud, cloud can
                  update the related fields False means cloud can't update the fields
                type: boolean
              nodePool:
                description: NodePool indicates which nodePool the deviceService comes
                  from
                type: string
              operatingState:
                description: operational state - either enabled or disabled
                type: string
            type: object
          status:
            description: DeviceServiceStatus defines the observed state of DeviceService
            properties:
              adminState:
                description: Device Service Admin State
                type: string
              conditions:
                description: current deviceService state
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              edgeId:
                description: the Id assigned by the edge platform
                type: string
              lastConnected:
                description: time in milliseconds that the device last reported data
                  to the core
                format: int64
                type: integer
              lastReported:
                description: time in milliseconds that the device last reported data
                  to the core
                format: int64
                type: integer
              synced:
                description: Synced indicates whether the device already exists on
                  both OpenYurt and edge platform
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
